.resp-sharing-button--twitter {
  background-color: #3582bc;
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9;
}

.resp-sharing-button--twitter {
  background-color: #3582bc;
  border-color: #3582bc;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}
