@import '../../styles/variables.scss';

.thumbnail {
  margin-bottom: 12px;
  padding: 15px;
  box-shadow: none;
  transition: text-shadow 0.3s, opacity 0.4s;
  opacity: 0;
  display: grid;
  grid-template-columns: 0.4fr 1.5fr;
  grid-column-gap: 15px;
  border: 1px solid $dark-gray;
  img {
    border-radius: 15px;
  }
  @media (min-width: 768px) {
    padding: 4px;
    border: 0;
    // width: 50%;
  }

  p {
    font-size: 90%;
    line-height: 1.4;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  h2 {
    margin-top: 0;
    border: 0;
  }
}

.thumbnail.visible {
  opacity: 1;
}
