.switch-container {
  text-align: right;

  .icon {
    text-align: center;
    color: #222;
    font-size: 14px;
    font-weight: 900;
  }
  .label {
    font-size: 12px;
    position: relative;
    top: -8px;
    right: 10px;
  }
}
