.home-header {
  margin-top: 0;
  border-bottom: none;
  font-weight: 700;
  font-size: 48px;
  letter-spacing: -2px;
}
h1 {
  font-weight: 700;
}

.link {
  box-shadow: none;
  text-decoration: none;
  color: inherit;
}
